html, body { margin: 0; padding: 0; border: 0; background: transparent;}

ol, ul { list-style: none;}

body {background-color: lavender;}

#page { width: 100%; margin: auto; background-color: white; min-height: 500px;}

/* Text Elements */

p { color: black; line-height: 150%; text-align: justify; font-family: Calibri; font-size: 15px;}

/* Lists */

ul {}

ul li { color: #000;font-size: 12px;}

/* Homepage - Top (Gray in color) Navigation */

#TopNavi { background-color: #1B1D1A; width: 100%; height: 1cm;}

#TopNavi ul { list-style: none; width: 15%; float: right; margin-top: 1%; margin-right:1%;}

#TopNavi ul li { display: inline; list-style: none; margin: 0px 5px 0px 5px;}

#TopNavi ul li a { font-family: Calibri; font-size: medium; color: white; text-decoration: none;}

/* Homepage - Navigation Bar */

#NavigationBar {width:100%; background-color: white;}

/* Homepage - Logo */

#Logo { width: 100%; text-align: center;}

/* Homepage - Navigation Menu */

#navigation { background-color: red; width: 100%; text-align: center; float: right; }

#navigation ul { width: 100%; position: relative; display: block; margin-left:0%;margin-top:1%;}

#navigation ul li { display: inline; list-style: none; padding: 0px 20px; border-left:1px solid #ffffff; border-right:1px solid #ffffff;}

#navigation ul li a { font-family: Calibri; font-size: medium; color: black; text-decoration: none; font-weight:bold;}

#navigation a:hover {text-decoration:underline;}

#navigation ul li a.active {color: red;}

/* Homepage - Content of the page */

#Content {width: 800px; margin-left: 150px;}

/* Homepage - Footer of the page */

#FooterWhite { width: 100%; background-color:white; height: 1cm; }

#FooterWhite p {font-size:10px;text-align:center; margin-top:1%;}

#FooterGrey { width: 100%; background-color: #2a2a2a; height: 2cm;}

/* Default page - Content */

#content h2 {text-align:center; font-family: Calibri;}

#content p {font-weight:bold;}
/* Photos Page Style */

    #content ul li {
        display: inline;
    }

    #content img {
        padding: 10px;
        margin-left: 20px;
    }

    #content a:hover img {
        border: 3px solid #E9B700;
    }

