html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

/* This is the CSS for MySite.Master and MyAdmin.Master */

#page {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    min-height: 500px;
}

#contentArea {
    width: 850px;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
}

#content {
    height: auto;
}

#TopBar {
    background-color: #ffffff;
}

#Logo img {
    
    display: block;
    margin: 0 auto 0 auto;
}

#SigninAndRegister {
    background-color: #222222;
    width: 100%;
    height: 1cm;
}

#SigninAndRegister a {
    font-family: Arial;
    font-size: small;
    color: white;
    text-decoration: none;
    font-weight: normal; 
    float: right;
    margin: 10px 10px 0 auto;
} 

#navigation {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    float: right;
    border-top: double;
    border-bottom: double;
}

#navigation ul {
    width: 50%;
    position: relative;
    display: block;
    margin: 10px auto 10px auto;
}

#navigation ul li {
    display: inline;
    list-style: none;
    padding: 0 10px;
}

#navigation ul li a {
    font-family: Calibri;
    font-size: large;
    color: #616161;
    text-decoration: none;
    font-weight: bold;
}

#navigation a:hover {
    color: black;
 }

#FooterBottom {
    width: 100%;
    background-color: #404042;
    height: 1cm;
}

#Copyrights {
    width: 100%;
    display: block;
    margin: 10px auto 0 auto;
}

    #Copyrights p {
        text-align: center;
        color: #ffffff;
        font-family: Arial;
        font-weight: 700;
        font-size: 12px;
    }

/* This is the CSS for Default.aspx */

#HomepageBanner {
    margin: 20px auto 10px auto;
    background-color: #ffffff;
}

#HomepageBanner img {
    width: 850px;
    display: block;
    margin: 0 auto 0 auto;
}

/* This is the CSS for EditPage.aspx*/
#ImageEditPage {
    Border: Solid; 
    Height: 150px;
    Width: 110px;
}

/*This is the CSS for LogIn.aspx*/
#LoginPage {
    background-color: #19192b;
}

#LoginPage h1 {
    text-align:center;
    color: white;
    font-family: Calibri;
}

#LoginForm {
    background-color: white;
    width: 400px;
    margin: 0 auto 50px auto;
}

#lblLoginEmail {
    font-family: Calibri;
    font-size: medium;
    font-weight:700;
}

#lblLoginPassword {
    font-family: Calibri;
    font-size: medium;
    font-weight: 700;
}

#txtLoginEmail {
    border-color: black;
    border-style: Solid;
    Height: 30px;
    Width: 250px;
}

#txtLoginPassword {
    border-color: black;
    border-style: Solid;
    Height: 30px;
    Width: 250px;
}

#btnLogin {
    Height: 30px;
    Width: 250px;
}

