html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

/* This is the CSS for MySite.Master */

#page {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    min-height: 500px;
}

#contentArea {
    width: 850px;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
}

#TopBar {
    background-color: #ffffff;
}

#Logo img {
    
    display: block;
    margin: 0 auto 0 auto;
}

#SigninAndRegister {
    background-color: #222222;
    width: 100%;
    height: 1cm;
}

#SigninAndRegister ul {
    list-style: none;
    width: 30%;
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}

#SigninAndRegister ul li {
    display: inline;
    list-style: none;
    margin: 0px 5px 0px 5px;
}

#SigninAndRegister ul li a {
    font-family: Arial;
    font-size: small;
    color: white;
    text-decoration: none;
    font-weight: normal;
}

#navigation {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    float: right;
    border-top: double;
    border-bottom: double;
}

#navigation ul {
    width: 50%;
    position: relative;
    display: block;
    margin: 10px auto 10px auto;
}

#navigation ul li {
    display: inline;
    list-style: none;
    padding: 0px 10px;
}

#navigation ul li a {
    font-family: Calibri;
    font-size: large;
    color: #616161;
    text-decoration: none;
    font-weight: bold;
}

#navigation a:hover {
    color: black;
 }

#FooterBottom {
    width: 100%;
    background-color: #404042;
    height: 1cm;
}

#Copyrights {
    width: 100%;
    display: block;
    margin: 0 auto 0 auto;
}

    #Copyrights p {
        text-align: center;
        color: #ffffff;
        font-family: Arial;
        font-weight: 700;
        font-size: 12px;
        margin-top: 10px;
    }

/* This is the CSS for Default.aspx */

#HomepageBanner {
    margin: 20px auto 10px auto;
    background-color: #ffffff;
}

#HomepageBanner img {
    width: 850px;
    display: block;
    margin: 0 auto 0 auto;
}