html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

/*Text Elements*/
h1 {
    font-family: Calibri;
    font-weight: bold;
}
h2 {
    font-family: Calibri;
    font-weight: bold;
}

/* This is the CSS for Google Map */
#map {
    height: 450px;
    width: 850px;
    margin: 0 auto 20px auto;
    border-bottom:solid;
}

/* This is the CSS for MySite.Master */

#page {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
}

#contentArea {
    width: 850px;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
}

#content {
    height: auto;
}

#TopBar {
    background-color: #ffffff;
}

#Logo img {
    
    display: block;
    margin: 0 auto 0 auto;
}

#SigninAndRegister {
    background-color: #222222;
    width: 100%;
    height: 1cm;
    margin: 0 auto;
}

#SigninAndRegister a {
    font-family: Arial;
    font-size: small;
    color: white;
    text-decoration: none;
    font-weight: normal; 
    float: right;
    margin: 10px 10px 0 auto;
}

    #SigninAndRegister a img {
        width: 20px;
        height: 20px;
        float: right;
        margin: 0 auto 5px auto;
    }

#navigation {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    float: right;
    border-top: double;
    border-bottom: double;
}

#navigation ul {
    width: 50%;
    position: relative;
    display: block;
    margin: 10px auto 10px auto;
}

#navigation ul li {
    display: inline;
    list-style: none;
    padding: 0 10px;
}

#navigation ul li a {
    font-family: Calibri;
    font-size: large;
    color: #616161;
    text-decoration: none;
    font-weight: bold;
}

#navigation a:hover {
    color: black;
 }

#FooterBottom {
    width: 100%;
    background-color: #404042;
    height: 2cm;
    clear:both;
}

#FooterLinks {
    width: 210px;
    margin: 0 auto;
}

#FooterLinks a {
    color:white;
    margin: 0 auto;
    font-family: Calibri;
    font-size: small;
}

#Copyrights {
    width: 100%;
    display: block;
    margin: 10px auto 0 auto;
}

    #Copyrights p {
        text-align: center;
        color: #ffffff;
        font-family: Arial;
        font-weight: 700;
        font-size: 12px;
    }

/* This is the CSS for Default.aspx */

#HomepageBanner {
    margin: 20px auto 10px auto;
    background-color: #ffffff;
}

#HomepageBanner img {
    width: 850px;
    display: block;
    margin: 0 auto 0 auto;
}

#tableProduct {
    width: 25%;
    margin: 9px;
    float: left;
}

    #tableProduct td {
        padding: 3px 10px;
    }

/* This is the CSS for EditPage.aspx*/
#ImageEditPage {
    Border: Solid; 
    Height: 150px;
    Width: 110px;
}

/*This is the CSS for LogIn.aspx*/
#LoginPage {
    background-color: white;
}

#LoginPage h1 {
    text-align:center;
    color: white;
    background-color: #181729;
    font-family: Calibri;
}

#LoginForm {
    background-color: white;
    width: 400px;
    height: auto;
    margin: 0 auto 30px auto;
}

#LoginTable {
    height: 100px;
    width: 250px;
    margin: 30px auto;
}

.txtLoginEmail {
    height: 30px;
    width: 250px;
}

.lblLoginEmail {
    font-family: Calibri;
    font-weight: bold; 
}

.txtLoginPassword {
    height: 30px;
    width: 250px;
}


.lblLoginPassword {
    font-family: Calibri;
    font-weight: bold;
}

.btnLogin {
    height: 35px;
    width: 255px;
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;
}
#LoginBtn {
    width: 255px;
    margin: 0 auto 0 75px;
}

#litMsg {
    width: 250px;
    margin: 0 auto 0 auto;
}

#RegLink {
    width: 400px;
    margin: 0 auto;
}

#RegLink a p {
   text-align: center;
   font-family: 'Times New Roman';
   text-decoration: none;
}

/*This is the CSS for Register.aspx*/
#RegisterPage {
    background-color: white;
}

#RegisterPage h1 {
    text-align: center;
    color: white;
    background-color: #181729;
    font-family: Calibri;
}

#RegisterForm {
    background-color: white;
    width: 400px;
    height: auto;
    margin: 0 auto 30px auto;
}

#RegisterTable {
    height: 100px;
    width: 250px;
    margin: 30px auto;
}

.txtRegEmail {
    height: 30px;
    width: 250px;
}

.lblRegEmail {
    font-family: Calibri;
    font-weight: bold;
}

.txtRegPassword {
    height: 30px;
    width: 250px;
}


.lblRegPassword {
    font-family: Calibri;
    font-weight: bold;
}

.btnReg {
    height: 35px;
    width: 255px;
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;
}

#RegBtn {
    width: 255px;
    margin: 0 auto 0 75px;
}

#litMsg {
    width: 250px;
    margin: 0 auto 0 auto;
}

#LoginLink a p {
    text-align: center;
    font-family: 'Times New Roman';
    text-decoration: none;
}

/*This is the CSS for Contact.aspx*/
#contactInfo {
    background-color: white;
}

    #contactInfo h1 {
        text-align: center;
        color: white;
        background-color: #181729;
        font-family: Calibri;
    }

#ContactForm {
    background-color: white;
    width: 400px;
    height: auto;
    margin: 0 auto 30px auto;
}

#ContactTable {
    height: 100px;
    width: 250px;
    margin: 30px auto;
}

.EmailBox {
    height: 30px;
    width: 250px;
}

.lblEmail {
    font-family: Calibri;
    font-weight: bold;
}

.SubjectBox {
    height: 30px;
    width: 250px;
}


.lblSubject {
    font-family: Calibri;
    font-weight: bold;
}

.MsgBox {
    height: 100px;
    width: 250px;
}


.lblMsg {
    font-family: Calibri;
    font-weight: bold;
}

.btnSendingMsg {
    height: 35px;
    width: 255px;
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;
}

#btnSendingMsg {
    width: 255px;
    margin: 0 auto 0 75px;
}

#litMsg {
    width: 250px;
    margin: 0 auto 0 auto;
}

/*This is the CSS for ListPage.aspx*/
#ListProduct h1 {
    text-align: center;
    color: white;
    background-color: #181729;
    font-family: Calibri;
}

/*This is the CSS for EditPage.aspx*/
#EditProduct h1 {
    text-align: center;
    color: white;
    background-color: #181729;
    font-family: Calibri;
}

/*This is the CSS for AddPage.aspx*/
#AddProduct h1 {
    text-align: center;
    color: white;
    background-color: #181729;
    font-family: Calibri;
}

/*This is the CSS for back to Admin Panel link*/
#AdminPath {
    width: 150px;
    float: right;
}

/*This is the CSS for back to Admin Panel Menu*/
#AdminPanelMenu {
    background-color: white;
    width: 400px;
    height: auto;
    margin: 0 auto 30px auto;
}

#AdminMenuTable {
    height: 100px;
    width: 250px;
    margin: 30px auto;
}

.btnAddProduct {
    height: 35px;
    width: 255px;
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;
}

.btnManageProduct {
    height: 35px;
    width: 255px;
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;
}

#ToLogout {
    width: 255px;
    margin: 0 auto 0 75px;
}

.btnLogOut {
    height: 35px;
    width: 255px;
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;
}


